<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="sites" type="System.Configuration.NameValueSectionHandler"/>
		<section name ="emails" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<appSettings>

	</appSettings>
	<connectionStrings>
		
	</connectionStrings>
	<emails>
		<add key="email1" value="yunas2002@iCloud.com"/>
		<add key="email2" value="yunasu57@gmail.com"/>
		<add key="email3" value="yunasu57@gmai"/>
	</emails>
	<sites>
		<add key="site1" value="apple.com"/>
		<add key="site2" value="google.com"/>
		<add key="site3" value="ya.ru"/>
	</sites>

</configuration>