<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name ="sites" type="System.Configuration.NameValueSectionHandler"/>
		<section name ="emails" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<connectionStrings>
	<add name="TestCase" connectionString="Host=localhost;Port=5434;Username=postgres;Password=9123476;Database=testcase" providerName="Npgsql" />
	</connectionStrings>
	<emails>
		<add key="email1" value="yunas2002@iCloud.com"/>
		<add key="email2" value="yunasu57@gmail.com"/>
		<add key="email3" value="yunasu57@gmai"/>
	</emails>
	<sites>
		<add key="site1" value="https://www.google.com/"/>
		<add key="site2" value="https://en.wikipedia.org/wiki/Computer_science"/>
		<add key="site6" value="https://www.bbc.co.uk/"/>
		<add key="site7" value="https://"/>
	</sites>

</configuration>